@import "streetSnap.less";
.DRC-hotinfo-box{
	
	padding:20px;background:#fff;
	p.iss-oh{height: 60px;line-height: 60px;}
	p.DRC-bolgLable{border-top:@B_d7;padding:20px 0}
}
.DRC-hotinfoBox{background:#fff;
	h3,li{padding:0 20px;}
	h3{height:80px;line-height:80px;font-size: 30px;}
	.DRC-hotinfo-ul{
	li{overflow: hidden;font-size:26px;height:80px;line-height:80px; vertical-align: middle;border-top:@B_d7;
		img{vertical-align: middle;margin-right:20px}
		a{ display:inline-block;width: 19px;height: 80px;vertical-align: middle;}
		}
	}
	.DRC-hotinfo-ul2{ width:590px;
		li:first-child{border-top:@B_d7}
		li{font-size:24px;padding-top:20px;padding-left:2rem;text-indent:-1rem;}
	}
}
